body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding-top: 20px;
background-color: rgba(225, 161, 225, 0.8);
}

h1 { margin: 0 0 1rem; font-size: 2rem; letter-spacing: .5px; }
h2 { margin: 1.25rem 0 .5rem; font-size: 1.1rem; text-transform: uppercase; }

.two-col {
    padding-top: 20px;
    display: flex;
    gap: 2.5rem;
}

.two-col__img {
    width: 40%;
    height: 90vh;
    object-fit: contain;
    display: block;
}

.two-col__text {
    width: 60%;
    margin-right: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

p,
ul,
.btn {
    font-size: 1.5rem;
}

h1 {
    font-size: 4rem;
    text-shadow: whitesmoke 2px 2px 4px;
}

h3 {
    font-size: 2rem;

}

.btn-row {
    display: flex;
        justify-content: center;
        gap: 40px;
        margin-top: 1rem;
}

.btn {
    border-radius: 10px;
    padding: 10px;
background-color: blueviolet;
color: whitesmoke;
text-decoration: none;
}
