body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding-top: 20px;
background: linear-gradient(to bottom left,
            rgba(245, 244, 247, 0.8),
            rgba(181, 119, 223, 0.8));
            height: 100vh;
            overflow: hidden;
}

.two-col {
    padding-top: 20px;
    display: flex;
    gap: 2.5rem;
}

.two-col__img {
    width: 40%;
    height: 90vh;
    object-fit: contain;
    display: block;
}

.two-col__text {
    width: 60%;
    margin-right: 100px;
    flex-direction: column;
    justify-content: center;
}

p,
ul,
.btn {
    font-size: 1.5rem;
}

h1 {
    font-size: 4rem;
    text-shadow: whitesmoke 2px 2px 4px;
    margin: 0 0 1rem;
    letter-spacing: .5px;
}

h2 {
    font-size: 2rem;
    font-style: oblique;

}

.btn-row {
    display: flex;
        justify-content: center;
        gap: 40px;
        margin-top: 2rem;
}

.btn {
    border-radius: 10px;
    padding: 10px;
background-color: blueviolet;
color: whitesmoke;
text-decoration: none;
}
