body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: purple;
    font-color: black;
}h1 {
    color: white;
    text-align: center;
    padding: 20px;
}h3 {
    color: black;
    text-align: center;
}#erfarenhet{
    background-color: white;
    margin: 20px;
    padding: 20px;
    border-radius: 10px;
}#fyra_saker{
    background-color: white;
    margin: 20px;
    padding: 20px;
    border-radius: 10px;
}
#github{
    background-color: white;
    margin: 20px;
    padding: 20px;
    border-radius: 10px;
}#index{
    background-color: white;
    margin: 20px;
    padding: 20px;
    border-radius: 10px;
}